  <footer>
      <nav>
            <a href="https://github.com/Raeldrele" target="_blank">GitHub</a> |
            <a href="https://raeldrele.github.io/" target="_blank">GitHub Pages</a> |
            <a href="https://www.freecodecamp.org/Raeldrele" target="_blank">Free Code Camp</a> |
            <a href="https://www.codecademy.com/profiles/Raeldrele" target="_blank">CodeAcademy</a> |
            <a href="https://www.linkedin.com/in/kate-engelbrecht-2483401a" target="_blank">LinkedIn</a> 
	</nav>
	<h2><em>"Distraction-free to focus on me."</em></h2>
	<p>Designed by K. Engelbrecht $copy;2023</p>
	<figure>
	  <a href="http://validator.w3.org/check?uri=referer" id="validation_link_html">
		  <img src="images/validation_button_html.png" alt="html validator" height="31" width="88" style = "border: 0px;"></a>
	  <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
       <img src="images/validation_button_css.gif" alt="css validator" height = "31" width = "88" style = "border: 0px;"></a>
         </figure>
    	<script>
  	document.getElementById("link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
  	document.getElementById("link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  	</script> 
  </footer>
