body
{
  margin: 200px;
  color:rgb(28, 144, 153);
  font-family: Verdana, Arial, Tahoma, Sans-serif;
  background-color: rgb(222,235,247);
  font-size: 100%;
  background-image:url("../images/bottom.gif");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center top;
}
header 
{
  height: 100px;
  text-align: center;
}

footer
{
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
