body
{
  margin: 50px;
  color:rgb(250,235,212);
  font-family: Palatino, Arial, Tahoma, Sans-serif;
  background-color: rgb(235,210,173);
  font-size: 100%;
}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-color: #2D93AD;
	position: fixed;
	z-index: 10;
	padding-top: 14px;
        padding-bottom: 14px;
}
h1{
	text-align: center;
	color: darkblue;
}

footer
{
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

/* unvisited link */
a:link {
  color:rgb(228,95,85);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color:rgb(237,148,142);
}

/* selected link */
a:active {
  color: blue;
}
