body
{
  margin: 200px;
  color:rgb(2, 129, 138);
  font-family: Verdana, Arial, Tahoma, Sans-serif;
  background-color: rgb(255, 247, 251);
  font-size: 100%;
}
header 
{
  height: 100px;
  text-align: center;
}

footer
{
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
