body
{
  margin: 200px;
  font-family: Verdana, Arial, Tahoma, Sans-serif;
  color:rgb(28,144,153);
  background-color: rgb(189,201,225);
  font-size: 100%;
  background-image:url("../images/bottom.gif");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center bottom;
}
header,footer
{
  text-align: center
  font-family: Garamond, sans-serif;
}
