body
{
  margin: 100px;
  font-family: Verdana, Arial, Tahoma, Sans-serif;
  color: #ffffff;
  background-color: rgb(65,182,196);
  font-size: 100%;
}
header
{
  text-align: center;
  font-family: Garamond, sans-serif;
}
footer
{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
